<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/createtopic.css" />
</head>
<body>
    <div class="main">
        <header>
            <h1><%= title %></h1>
        </header>
        <div class="createTopic">
        <form action="./create/submit" method="POST">
        <table>
            <tr>
                <th>title</th>
            </tr>
            <tr>
                <td><input id="title" type="text" name="topicname" autocomplete="off"></td>
            </tr>
            <tr>
                <th>ひと言</th>
            </tr>
            <tr>
                <td><textarea id="msg" name="msg"></textarea></td>
            </tr>
            <tr>
                <td>
                    <input id="submit" type="submit" value="トピックを作成する">
                </td>
            </tr>
            <tr>
                <td>
                    <a id="return" href="/main/1">
                    <div class="return">
                    トップへ戻る
                    </div>
                    </a>
                </td>
            </tr>
        </table>
        </form>
        </div>
    </div>
</body>
</html>
