<!DOCTYPE html>
<% if(val != null) { %>
<%
const date = new Date(val.attributes.updated_at);
const dateYear = date.getFullYear();
const dateMonth = ((date.getMonth() + 1).toString().length == 1)?'0' + (date.getMonth() + 1):(date.getMonth() + 1);
const dateDate = (date.getDate().toString().length == 1)?'0' + date.getDate():date.getDate();
const dateHours = (date.getHours().toString().length == 1)?'0' + date.getHours():date.getHours();
const dateMinutes = (date.getMinutes().toString().length == 1)?'0' + date.getMinutes():date.getMinutes();
const dateSeconds = (date.getSeconds().toString().length == 1)?'0' + date.getSeconds():date.getSeconds();

const dateStr = dateYear + '-' + dateMonth + '-' + dateDate + ' ' + dateHours + ':' + dateMinutes + ':' + dateSeconds;
%>
<div class="topicNames">
<table>
    <tr>
        <td>
            <%= dateStr %>
        </td>
        <td>
            <a href="/main/<%= val.attributes.id %>/1">
                <%= val.attributes.name %>
            </a>
        </td>
        <td>
        <% if( val.attributes.user_id == id ) { %>
            <form action="/delete/<%= val.attributes.id %>" method="POST">
                <input type="submit" value="削除">
            </form>
        <% } %>
        </td>
    </tr>
</table>
</div>
<% } %>