<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
    <div class="introduction">
        <h1><%= title %></h1>
        <p>知らない人たちと匿名・チャット形式でお話しできるサイトです</p>
        <p>日常のトレンド、ニュース、仕事のことなどなど<br>トピックを立ててなんでも話しましょう！</p>
        <form class="form" action="/users/guestlogin" method="post">
            <input class="start" type="submit" value="さっそく始める">
        </form>
    </div>
</body>
</html>