
body {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color: rgb(148, 148, 148);
}
a {
color: rgb(0, 204, 17);
text-decoration: none;
}
h2 {
font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
color: white;
}
p {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.background {
    background: url(../images/cork-board/cork-board/cork-board.png);
    width: 1000px;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
}
.maincontents {
    background-color: white;
    padding: 8px;
    border: 2px double #bbb;
    border-radius: 10px;
}
.header {
    text-align: right;
    padding: 15px;
}
table {
    width: 600px;
    table-layout:fixed;
    background-color: rgb(214, 255, 208);
}
th,td {
    background-color:white;
}
table,th,td {
    padding: 8px;
    border: 1px solid #bbb;
    word-wrap:break-word;
}
.date {
    width: 100px;
}
.message {
    width: 50%;
}
.topic {
    width: 50%;
}
.userdoc {
    position: absolute;
    width: 300px;
    height: 368px;
}
.comment {
    margin-top: 10px;
}
.comment-contents {
    border: 2px double #bbb;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px;
}
.menu li,#pageback {
    display: inline-block;
    cursor: pointer;
    width: 50%;
    text-align: center;
    border: 1px solid #bbb;
    padding: 10px;
}
li:hover {
    background-color: #bbb;
    color: white;
}
.contents {
    margin-left: 36%;
    position: relative;
    width: 615px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 760px;
    border: double 4px rgb(155, 155, 155);
    border-radius: 10px;
}
.pagenations {
    text-align: center;
}
.upload {
    background-color: rgb(16, 199, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: solid 4px rgb(255, 255, 255);
    width: 180px;
    text-align: center;
}
label > input {
display:none;
}
label {
    cursor:pointer;
}

@media screen and (max-width: 1000px){
body {
    font-size: 25px;
    margin-right:auto;
    margin-left:auto;
}
h2 {
    font-size: 30px;    
}
p {
    font-size: 20px;
}
.wrap {
    overflow: hidden;
}
.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.maincontents {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
}
table {
    width: 100%;
    position: static;
}
.date {
    width: 25%;
    text-align: center;
}
.message {
    width: 75%;
}
.userdoc {
    width: 100%;
    height: 20%;
    position: relative;
}
.icon img {
    width: 120px;
    height: 120px;
}
.upload {
    width: 300px;
}
.message {
    width: 100%;
}
.menu {
    width: 100%;
    position: absolute;
    left: 45%;
    top: 10%;
}
.contents {
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 20%;
    border: double 4px rgb(155, 155, 155);
    border-radius: 10px;
    position: static;
}
}
