body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(148, 148, 148);
}
li {
  display: inline-block;
}
h2 {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px 10px;
}
table {
  padding: 8px;
}
th {
  width: 20%;
  text-align: center;
}
.main {
  width: 1000px;
  margin-right:auto;
  margin-left:auto;
}
.head {
  width: 100%;
  font-size: 15px;
}
.list-title {
  width: 785px;
  font-size: 50px;
  color: rgb(235, 235, 235);
}
.list-form li {
 float: right;
}
.list-form a {
  text-decoration:none;
  background-color:#ffffff;
  color: rgb(146, 146, 146);
  display:inline-block;
  padding: 3px;
  border: outset 2px rgb(219, 219, 219);
  cursor: pointer;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
}
.list-form a:hover {
  color: white;
  background-color:rgb(0, 243, 0);
}

.contents {
  background: url(../images/cork-board/cork-board/cork-board.png);
  padding: 10px;
}
.topics a {
  color: rgb(0, 204, 17);
  text-decoration: none;
}
.topics table {
  margin-right:auto;
  margin-left:auto;
  border: double 4px rgb(155, 155, 155);/* ラベルのボーダーを指定する */
  border-radius: 10px; /* ラベルボックスの角丸を指定する */
  width: 80%;
  background-color: white;
}
.topics tr td {
  text-align: center;
}
.topics p {
  text-align: center;
}
.delete {
  color: red;
  cursor: pointer;
  padding-left: 100px;
}
.error {
color: red;
}

@media screen and (max-width: 1000px){
h2 {
  font-size: 30px;
}
.main {
  width: 100%;
  font-size: 20px;
  height: 100%;
}
a {
  font-size: 25px;
}
p {
  font-size: 20px;
}
.list-title {
  font-size: 50px;
  width: 70%;
}
.list-form a {
  font-size: 20px;
}
.home img {
  width: 60px;
  height: 60px;
}
.topics table {
  width: 100%;
}
th {
  width: 20%;
}
.delete {
  padding-left: 10px;
}
}