body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(148, 148, 148);
    margin: 5px;
    width: 1000px;
    margin-right:auto;
    margin-left:auto;
}
.title {
color: rgb(0, 204, 17);
text-decoration: none;
font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
padding:15px;
}
.topicname {
text-align: center;
}

.fixed {
position: fixed;
background-color: white;
top: 0px;
height: 60px; 
margin-right:auto;
margin-left:auto;
width: 1000px;
left: 0;
right: 0;
z-index: 10;
border-radius: 0;
box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);

}

a.home {
color: rgb(59, 59, 59);
text-decoration: none;
}
h1 {
    color: rgb(146, 146, 146);
    text-align: right;
    margin: 0%;
}
h2 {
font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
margin: 0px 10px;
}

table,tr,th,td {
padding: 10px;
}

.message {
display: flex;
flex-direction: column;
background-color: #f3f3f3;
padding: 10px;
}
.message table {
margin-right:auto;
margin-left:auto;
width: 95%;
table-layout:fixed;
}
.message table,th,td {
word-wrap:break-word;
}
.message table th {
width: 20%;
}
.messageDummy {
    width: 35%;
}

@media screen and (max-width: 1300px){
body {
    width: 750px;
}
.message table {
    width: 100%;
}
.fixed {
width: 750px;
}
.message table th {
width: 20%;
}
.messageDummy {
    width: 35%;
}
}

.msgform {
text-align: center;
width: 100%;
height: 110px;
}

#page {
padding-top: 8px;
}
.sendMsg {
margin-right:auto;
margin-left:auto;
padding-left: 60px;
}

.msg {
width: 400px;
height: 30px;
}
.msgFocus {
width: 400px;
height: 80px;
}
.msgfixed {
position: fixed;
background-color: white;
top: 87%;
height: 150px;
width: 100%;
left: 0;
right: 0;
z-index: 10;
border-radius: 0;
box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}
/* cols="50" rows="2"  */
/* .sendMsg th {
padding-left: 9%;
}
.sendMsg td {
padding-left: 6%;
} */

.messageLeft {
padding-left: 3%;
text-align: left;
position: relative;
background-color: #52d072;
color: white;
border-radius: 10px;
}
.messageRight {
padding-right: 3%;
text-align: left;
position: relative;
background-color: #52c2d0;
color: white;
border-radius: 10px;
}
.messageLeft:after {
display: block;
content: "";
width: 0px;
height: 0px;
position: absolute;
top:calc(50% - 10px);
left:-35px;
border-right: 50px solid #52d072;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}
.messageRight:after {
display: block;
content: "";
width: 0px;
height: 0px;
position: absolute;
top:calc(50% - 10px);
right:-35px;
border-left: 50px solid #52c2d0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}

.disable {
display: none;
}
.error {
color: red;
}