body {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color: rgb(148, 148, 148);
}
a {
color: rgb(0, 204, 17);
text-decoration: none;
}
h1 {
color: rgb(235, 235, 235);
text-align: right;
}
h2 {
font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
table tr th {
padding: 8px;
}
table tr td {
padding: 8px;
}
.login,.useradd {
width: 1000px;
height: 500px;
margin-right:auto;
margin-left:auto;
position: relative;
}
.form {
    background: url(../images/light-veneer/light-veneer/light-veneer.png);
    height: 500px;
}
.formdata {
    position: absolute;
}
.formInput {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border: inset 2px rgb(206, 206, 206);
    outline: none;
}
#login,#add {
    width: 180px;
    height: 50px;
    background-color: rgb(92, 255, 220);
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.submit {
    position: absolute;
    left: 350px;
    bottom: 55px;
    opacity: 0.6;
}
.submit:hover {
    opacity: 1.0;
}
.add {
    bottom: 120px;
}
.returnlogin {
    position: absolute;
    left: 350px;
    bottom: 80px;
    width: 200px;
}
.create {
    position: absolute;
    left: 350px;
    bottom: 8px;
    width: 200px;
}
table {
    position: absolute;
    left: 200px;
    top: 180px;
}
.error {
    color: red;
}

@media screen and (max-width: 900px){
.login,.useradd {
    width: 100%;
    height: 100%;
    font-size: 12px;
}
table {
    padding-top: 10%;
    position: static;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}
table tr th {
    width: 35%;
}

.formInput {
    font-size: 16px;
    width: 100%;
}

.submit {
    opacity: 1.0;
    position: static;
    width: 100%;
}
#login {
    font-size: 12px;
    width: 100%;
}
.create {
    font-size: 12px;
    position: static;
    text-align: center;
}
#add {
    font-size: 12px;
    width: 100%;
}
.returnlogin {
    font-size: 12px;
    position: static;
    text-align: center;
}
}